{% extends 'base.html.twig' %}

{% block body %}
    <div class='buttons'>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>

    <table class='gameboard'>
        <tr>
            <td class='gameboard_section'>
                <div>Player #1: HUMAN<br></div>

                <div><h1>{{ p1WinLose }}</h1></div>

                <div>Choice: {{ p1ChoiceName }}</div>

            </td>

            <td class='gameboard_section'>{{ stats | raw }}</td>

            <td class='gameboard_section'>
                <div>Player #2: COMPUTER</div>

                <div><h1>{{ p2WinLose }}</h1></div>

                <div>Choice: {{ p2ChoiceName }}</div>
            </td>
        </tr>
    </table>

{% endblock %}